process {
    // Default process values
    time = 4.h
    memory = 8.Gb
    cpus = 1

    // Error strategy
    errorStategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'terminate' }
    maxRetries = 3
    maxErrors = '-1'

    withlabel:parallel_low {
        time = { check_resources( 2.h * task.attempt, params.max_time) }
        memory = { check_resources(2.Gb * task.attempt, params.max_memory) }
        cpus = { check_resources(10 * task.attempt, params.max_cpus) }
    }
}